    <div class="projects-area" id="projects">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="section-title section-white-title wow fadeInUp delay-0-2s text-center">
                    <h2>Recent Work</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row g-4 portfolio-grid">
                <!-- START SINGLE PORTFOLIO DESIGN AREA -->
                <div class="col-md-6 col-xl-6 portfolio-item category-1">
                    <a href="{% static 'images/projects/work1.jpg" class="work-popup">
                        <div class="portfolio-box">
                            <!-- Image -->
                            <img src="{% static 'images/projects/work1.jpg" alt="" data-rjs="2">
                            <!-- Category -->
                            <span class="portfolio-category">Branding</span>
                            <!-- Caption -->
                            <div class="portfolio-caption">
                                <h1>Glasses of Cocktail</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
                <!-- START SINGLE PORTFOLIO DESIGN AREA -->
                <div class="col-md-6 col-xl-6 portfolio-item category-2">
                    <a href="single-project.html">
                        <div class="portfolio-box">
                            <!-- Image -->
                            <img src="{% static 'images/projects/work2.jpg" alt="" data-rjs="2">
                            <!-- Category -->
                            <span class="portfolio-category">Mockup</span>
                            <!-- Caption -->
                            <div class="portfolio-caption">
                                <h1>A Branch with Flowers</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
                <!-- START SINGLE PORTFOLIO DESIGN AREA -->
                <div class="col-md-6 col-xl-6 portfolio-item category-2">
                    <a href="https://www.youtube.com/watch?v=qZEPs3vmYB4" class="popup-youtube">
                        <div class="portfolio-box">
                            <!-- Image -->
                            <img src="{% static 'images/projects/work3.jpg" alt="" data-rjs="2">
                            <!-- Category -->
                            <span class="portfolio-category">Video</span>
                            <!-- Caption -->
                            <div class="portfolio-caption">
                                <h1>Orange Rose Flower</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
                <!-- START SINGLE PORTFOLIO DESIGN AREA -->
                <div class="col-md-6 col-xl-6 portfolio-item category-1">
                    <a href="{% static 'images/projects/work4.jpg" class="work-popup">
                        <div class="portfolio-box">
                            <!-- Image -->
                            <img src="{% static 'images/projects/work4.jpg" alt="" data-rjs="2">
                            <!-- Category -->
                            <span class="portfolio-category">Branding</span>
                            <!-- Caption -->
                            <div class="portfolio-caption">
                                <h1>Green Plant on a Desk</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
                <!-- START SINGLE PORTFOLIO DESIGN AREA -->
                <div class="col-md-6 col-xl-6 portfolio-item category-2">
                    <a href="{% static 'images/projects/work5.jpg" class="work-popup">
                        <div class="portfolio-box">
                            <!-- Image -->
                            <img src="{% static 'images/projects/work5.jpg" alt="" data-rjs="2">
                            <!-- Category -->
                            <span class="portfolio-category">Mockup</span>
                            <!-- Caption -->
                            <div class="portfolio-caption">
                                <h1>Orange Rose Flower</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
                <!-- START SINGLE PORTFOLIO DESIGN AREA -->
                <div class="col-md-6 col-xl-6 portfolio-item category-2">
                    <a href="{% static 'images/projects/work6.jpg" class="work-popup">
                        <div class="portfolio-box">
                            <!-- Image -->
                            <img src="{% static 'images/projects/work6.jpg" alt="" data-rjs="2">
                            <!-- Category -->
                            <span class="portfolio-category">logo</span>
                            <!-- Caption -->
                            <div class="portfolio-caption">
                                <h1>Rose Flower</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
            </div>
        </div>
    </div>